<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/pilotos.css'/>
    <%- include('partials/navbar.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1> Lista de Pilotos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>ID equipo</th>
        <th>Nombre piloto</th>
        <th>Apellidos</th>
        <th>Nacion</th>
        <th>Titulos</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% pilotos.forEach( function (pilotos){ %>

        <tr>
            <td> <%= pilotos.id %> </td>
            <td> <%= pilotos.idequipo %></td>
            <td> <%= pilotos.nombrepiloto %></td>
            <td> <%= pilotos.apellidospiloto %></td>
            <td> <%= pilotos.nacionpiloto %></td>
            <td> <%= pilotos.titulospiloto %></td>
            <td><img src="<%= pilotos.imagenpiloto %>" alt="" height="150px"></td>
            <td>
                <a href="#" data-piloto-id="<%= pilotos.id%>" class="action_delete_piloto">Delete</a>
                <a href="/pilotos/update/<%= pilotos.id%>" >Update</a>
                <a href="/pilotos/detalles/<%= pilotos.id%>">Detalles</a>
            </td>

        </tr>
    <% } ) %>

    </tbody>
</table>

<script>
    async function delete_piloto(evt){
        evt.preventDefault() // no sigas tu comportamiento por defecto
        let id = $(this).data('piloto-id')
        try {
            await $.ajax({
                url: '/api/pilotos/'  + id,
                type: 'DELETE'
            })
            window.location.reload()

        }catch (e) {
            console.log(e)
            console.log('Error' + e.status + " " + e.statusText)
        }
    }

    $(document).ready(() =>{
        document.getElementsByClassName('action_delete_piloto')
        $('.action_delete_piloto').click(delete_piloto)
    });
</script>

</body>
<%- include('partials/footer.html') %>
</html>