<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> <%= title %></h1>
<form action="/pilotos/update" method="POST">

    <input id="id" type="hidden" name="id" value="<%= pilotos.id %>">
    <label for="idEquipo">ID EQUIPO</label>
    <input id="idEquipo" type="text" name="idEquipo" value="<%= pilotos.idEquipo %>">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value=" <%= pilotos.nombre %>" >

    <label for="edad">Edad</label>
    <input id="edad" type="text" name="edad" value="<%= pilotos.edad %>" >

    <label for="nacion">Nacion</label>
    <input id="nacion" type="text" name="nacion" value="<%= pilotos.nacion %>" >

    <label for="premios">Premios</label>
    <input id="premios" type="text" name="premios" value="<%= pilotos.premios %>" >

    <label for="imagen">IMAGEN</label>
    <input id="imagen" type="text" name="imagen" value="<%= pilotos.imagen %>" >


    <input type="submit" value="update">
</form>
</body>
</html>