<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <%- include('partials/navbar.html') %>
</head>
<body>
<h1> UPDATE ITEM</h1>
<form action="/equipos/update" method="POST" id="updateForm">

    <input id="id" type="hidden" name="id" value="<%= item.id%>">
    <input id="idequipo" type="hidden" name="idequipo" value="<%= item.idequipo%>" >

    <label for="equiponombre">equiponombre</label>
    <input id="equiponombre" type="text" name="equiponombre" value="<%= item.equiponombre%>" >

    <label for="nacionequipo">nacionequipo</label>
    <input id="nacionequipo" type="text" name="nacionequipo" value="<%= item.nacionequipo%>" >

    <label for="nombrepiloto">nombrepiloto</label>
    <input id="nombrepiloto" type="text" name="nombrepiloto" value="<%= item.nombrepiloto%>" >

    <label for="nacionespilotos">nacionespilotos</label>
    <input id="nacionespilotos" type="text" name="nacionespilotos" value="<%= item.nacionespilotos%>" >

    <button type="button" onclick="confirmUpdate()">Update</button>
</form>

<script>
    function confirmUpdate() {
        let confirmacion = confirm("¿Estás seguro de que quieres actualizar este equipo?");

        if (confirmacion) {
            document.getElementById("updateForm").submit();
        }
    }
</script>
</body>
<%- include('partials/footer.html') %>
</html>
