<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <%- include('partials/navbar.html') %>
</head>
<body>
<h1> UPDATE ITEM</h1>
<form action="/equipos/update" method="POST">

    <input id="id" type="hidden" name="id" value="<%= item.id%>">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value="<%= item.nombre%>" >

    <label for="nacion">Nacion</label>
    <input id="nacion" type="text" name="nacion" value="<%= item.nacion%>" >

    <label for="campeonatos">Campeonatos</label>
    <input id="campeonatos" type="text" name="campeonatos" value="<%= item.campeonatos%>" >

    <label for="historia">Historia</label>
    <input id="historia" type="text" name="historia" value="<%= item.historia%>" >

    <label for="imagen">Imagen</label>
    <input id="imagen" type="text" name="imagen" value="<%= item.imagen%>" >


    <input type="submit" value="update">
</form>
</body>
<%- include('partials/footer.html') %>
</html>